<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BrowserStack Suite" parallel="tests" thread-count="5">

    <test name="Chrome on Windows">
        <parameter name="browser" value="Chrome"/>
        <parameter name="os" value="Windows 10"/>
        <classes>
            <class name="org.example.ElPaisBrowserStackTest"/>
        </classes>
    </test>

    <test name="Firefox on macOS">
        <parameter name="browser" value="Firefox"/>
        <parameter name="os" value="OS X"/>
        <classes>
            <class name="org.example.ElPaisBrowserStackTest"/>
        </classes>
    </test>

    <test name="Edge on Windows">
        <parameter name="browser" value="Edge"/>
        <parameter name="os" value="Windows 10"/>
        <classes>
            <class name="org.example.ElPaisBrowserStackTest"/>
        </classes>
    </test>

    <test name="Safari on macOS">
        <parameter name="browser" value="Safari"/>
        <parameter name="os" value="OS X"/>
        <classes>
            <class name="org.example.ElPaisBrowserStackTest"/>
        </classes>
    </test>

    <test name="iPhone Safari">
        <parameter name="browser" value="iPhone 14"/>
        <parameter name="os" value="iOS"/>
        <classes>
            <class name="org.example.ElPaisBrowserStackTest"/>
        </classes>
    </test>

    <test name="Samsung Galaxy Chrome">
        <parameter name="browser" value="Samsung Galaxy S22"/>
        <parameter name="os" value="Android"/>
        <classes>
            <class name="org.example.ElPaisBrowserStackTest"/>
        </classes>
    </test>

</suite>
